body {
    margin: 0;
    font-size: 13.3333px;
    font-family: Arial, Helvetica, sans-serif;
    background: #F9F5E9;
}

* {
    box-sizing: border-box;
}

pre {
    margin: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

ul {
   padding: 0;
   margin: 0; 
   list-style: none;
}

.show {
    display: block;
}
.hide {
    display: none;
}

button, input {
    border: none;
    outline: none;
    background: none;
}
button:hover {
    cursor: pointer;
}

main {
    position: relative; 
}

/* bookList */
#bookList-wrapper {
    max-width: 720px;
    margin: 30px auto;
}

#bookList {
    padding: 0 20px;
}

#bookList li {
    padding: 5px 10px;
    cursor: pointer;
    transition: all .2s;
    border-radius: 2px;
    width: calc(50% - 10px);
    height: 100px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

#bookList li:hover {
    background: rgba(0, 0, 0, .1);
}

/* booDetail */
#bookDetail-wrapper {
    max-width: 720px;
    margin: 30px auto;
}

#bookDetail {
    padding: 0 20px;
}

#bookDetail p {
    margin: 1em 0;
    line-height: 1.7;
    font-size: 16px;
}

#pageNav {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#pageNav > button {
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    background: rgba(0, 0, 0, .1);
    opacity: .6;
    transition: all .2s;
}

#pageNav > button:last-child {
    margin-left: 20px;
}

#pageNav > button:hover {
    opacity: 1;
}

/* encrypt */
#encrypt {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
}

#encrypt > input {
    display: block;
    width: 200px;
    margin:40vh auto;
    line-height: 32px;
    background: rgba(0, 0, 0, .4);
    padding: 0 12px;
    border-radius: 2px;
}

/* #tool */

#showToolPageBtn {
    position: fixed;
    right: -3px;
    bottom: 10px;
    z-index: 2;
}

#showToolPageBtn > span {
    transform: rotate(-45deg);
    display: inline-block;
}

#showToolPageBtn::after {
    content: "";
    display: block;
    border: 30px solid;
    border-color: transparent rgba(0, 0, 0, .2) rgba(0, 0, 0, .2) transparent;
    position: fixed;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#showToolPageBtn:hover::after {
    border-color: transparent rgba(0, 0, 0, .4) rgba(0, 0, 0, .4) transparent;
}

#tool {
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1;
}

#tool .toolItem {
    padding: 10px;
}

#tool .toolItem > input {
    border:solid 1px #999999;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    max-width: 800px;
}

#tool .toolItem > textarea {
    border:solid 1px #999999;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    max-width: 800px;
    height: calc(100vh - 220px);
}

#tool .toolItem > button {
    width: 100%;
    padding: 5px;
    max-width: 800px;
    border: 1px solid #999999;
    border-radius: 3px;
    background: rgba(0, 0, 0, .2);

}


@media (max-width: 600px) {
    #bookList li {
        width: calc(100% - 10px);
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    select:focus,
    textarea:focus,
    input:focus {
      font-size: 16px;
      background: #eee;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    select,
    textarea,
    input {
      font-size: 16px;
    }
  }